PORT=5001
NODE_ENV=development

MONGO_URI=mongodb://127.0.0.1:27017/karma_automobiles_billing

CLIENT_URL=http://localhost:5173
BACKEND_PUBLIC_URL=http://localhost:5001

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
TWILIO_STATUS_CALLBACK_URL=
DEFAULT_COUNTRY_CODE=91
SEND_PDF_AS_MEDIA=false

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_ROOT_FOLDER=karma-automobiles

DEFAULT_GOOGLE_MAPS_LINK=https://maps.google.com/?q=KARMA+AUTOMOBILES+Vasna+Ahmedabad

INVOICE_PREFIX=KA
INVOICE_START_NUMBER=107
